<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/footer.css">
	
	
	<link rel="stylesheet" href="css/home.css">
	
	
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	
	
		
	<title>Add contact</title>
</head>
<body>
	
	<br><br>
	<div class="container" align="center"  >
		<div class="card2" >
			<div class="card-body" style="color: #007b5e;">
				<h2 class="card-title" id="res"><b>My Contacts -v1.0</b></h2>
			</h3>
			<hr>
			</div>
		</div>
	</div>
	
	<div class="container">
        <div class="row">

            <div class="col mt-3 justify-content-right">
            	<div class="page-people-directory">
				
				<div class="col-md-3">
						<h5 class="page-title"><b>Contacts</b></h5>
						<ul class="nav nav-pills nav-stacked nav-contacts">
							<li class="active">
								<a href="#">
									All Contacts
									<span class="badge pull-right" th:text="${totalContacts}"></span>
								</a>
							</li>
							<li>
								<a th:href="@{/addContact}">
									Add Contact
									
								</a>
							</li>
							<li>
								<a th:href="@{/logout}">
									Exit
									
								</a>
							</li>
						</ul>
						
						<br>
						
						<h5><b>My Favorites</b></h5>
						<div class="list-group people-group">
							<a href="#" class="list-group-item">
								<div class="media">
									<div class="pull-left">
										<img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
									</div>
									<div class="media-body">
										<h4 class="media-heading">John Wayne</h4>
										<small>Software Engineer</small>
									</div>
								</div>
							</a>
							<a href="#" class="list-group-item">
								<div class="media">
									<div class="pull-left">
										<img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
									</div>
									<div class="media-body">
										<h4 class="media-heading">Jane Dane</h4>
										<small>Software Engineer</small>
									</div>
								</div>
							</a>
							<a href="#" class="list-group-item">
								<div class="media">
									<div class="pull-left">
										<img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="...">
									</div>
									<div class="media-body">
										<h4 class="media-heading">Juan Dela Cruz</h4>
										<small>Software Engineer</small>
									</div>
								</div>
							</a>
							<a href="#" class="list-group-item">
								<div class="media">
									<div class="pull-left">
										<img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="...">
									</div>
									<div class="media-body">
										<h4 class="media-heading">Jose Cruz</h4>
										<small>Software Engineer</small>
									</div>
								</div>
							</a>
						</div>
						
					</div>
					
					</div>
				
				
				
				
                <form th:action="@{/addContact}" th:object="${newContact}" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Name: </label>
                            <input type="text" name='fName' th:field="*{name}" class="form-control" id="validationCustom01" placeholder="First name"
                                 required>
                        </div>
                        
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Gender: </label>
                            <input type="text" name='gender' th:field="*{gender}" class="form-control" id="validationCustom01" placeholder="User name"
                                 required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Email: </label>
                            <input type="text" name='email' th:field="*{email}" class="form-control" id="validationCustom01" placeholder="Email"
                                 required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Position: </label>
                            <input type="text" name='position' th:field="*{position}" class="form-control" id="validationCustom01" placeholder="Password"
                                 required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom02">Phone</label>
                            <input type="text" name='phone' th:field="*{phone}" class="form-control" id="validationCustom02" placeholder="Phone"
                                 required>
                        </div><br>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom03">Cover pic</label>
                            <input type="file" name='image12' class="form-control" accept="image/png, image/jpeg, image/jpg" id="validationCustom03" placeholder="Cover image" >
                        </div>
                        
                        
                    </div>
                    
                    <div class='form-row'>
                        
                        <div class="col-md-10 mb-3">
                            <label for="validationCustom02">Address</label>
                            <textarea class="form-control" name='address' th:field="*{address}" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>


                    </div>
        
                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>

        </div>
    </div><br><br><br><br>
    
    <!-- Footer -->
	<section id="footer">
		<div class="container">

			<div class="row">
				<div class="col-xs-12 ">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a
							href="https://github.com/Nawaz2000"><i class="fa fa-github"></i></a></li>
						<li class="list-inline-item"><a
							href="https://www.linkedin.com/in/md-nawaz-rahaman-047b56177/"><i
								class="fa fa-linkedin"></i></a></li>
						<li class="list-inline-item"><a
							href="https://www.instagram.com/doodle_nawaz/"><i
								class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#"><i
								class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a
							href="mailto:mail2nawaz2000@gmail.com" target="_blank"><i
								class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				
			</div>
			<div class="row">
				<div
					class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h5">
						© 2021 All right Reversed. <a class="text-green ml-2"
							href="https://github.com/Nawaz2000" target="_blank">Md. Nawaz
							Rahaman</a>
					</p>
				</div>
				
			</div>
		</div>
	</section>
	<!-- ./Footer -->
	
</body>
</html>