<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="css/login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
</head>
<body>

	<div class="wrapper fadeInDown">
	  <div id="formContent">
	    <!-- Tabs Titles -->
	
	    <!-- Icon -->
	    <div class="fadeIn first">
	      <img src="https://bootdey.com/img/Content/avatar/avatar5.png" style="margin-top: 1.5em; margin-bottom: 1em; width: 60%;" id="icon" alt="User Icon" />
	    </div>
	
	    <!-- Login Form -->
	    <form th:action="@{/login}" method="POST">
	      <input type="text" class="fadeIn second" name="username" placeholder="Username">
	      <input type="password" class="fadeIn third" name="password" placeholder="Password">
	      <input type="submit" class="fadeIn fourth" value="Log In">
	    </form>
	    
	    <!-- Remind Passowrd -->
	    <div id="formFooter">
	      Do not have an account? <a class="underlineHover" th:href="@{/register}">Register here</a>
	      <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
	    </div>
	
	  </div>
	</div>

</body>
</html>